.footer{

    background: #b5bdc8;
	background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); 
	background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); 
	background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );
	
	text-align: center;
	color: whitesmoke;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

}