.header {

    height: 250px;
	width: 100%;
	margin: 0;
	padding: 0px;
	background: #b5bdc8;
	background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); 
	background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); 
	background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );

    .header__titre{

        display: grid;
        grid-template-columns: 40% 60%;

    }

    .header__section1{

        .header__section1--image{

            width: 220px;
            height: 250px;
            margin:0em;
            padding-left: 10em;

        }
    }

    .header__section2{

        text-align: left ;
        font-size: x-large;
        color:black;

    }

}